
  <div class ="card">
    <h5 class="card-header info-color white-text text-center py-3">Sign Up</h5>
    <div class="card-body px-lg-5 pt-0">
      <div class="text-center">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.input :name, required: true, autofocus: true, label: false, placeholder: 'Your Name'%>
          <%= f.input :email, required: true, label: false, placeholder: 'Your Email' %>
          <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html:{maxlength: 50, size:20}%>
          <i>(Minimum 6 Characters)</i>
          <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Password Confirmation'%>
          <%= f.input :phone_number, required: true, label: false, placeholder: 'Your Phone Number' %>
          <%= f.input :address, as: :text, required: true, label: false, placeholder: 'Your Address', input_html: {size: "24x2"} %>
          <%= f.button :submit, "Sign Up", class: 'btn btn-sm btn-info' %>
      <% end %>
    </div>
    </div>
  <%= render "devise/shared/links" %>
  </div>

