<div class="container">
  <h1><%=params[:action].capitalize%> Wallet</h1>
  <div class="row">
    <div class="col-12">
      <%= simple_form_for [:admins, @wallet] do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.input :nominal %>
          </div>
        </div>
          <%= f.button :submit, class: "btn btn-info" %>

          <%= link_to "Cancel", admins_wallets_path, class: "btn btn-danger" %>

      <% end %>
    </div>
  </div>
</div>
