<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold">Wallet Data</h2>
        </div>
        </div>
          <div class="table-responsive">
          
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="th-sm"><%= sort_link(@q, :users_name, 'Owner') %></th>
                  <th class="th-sm"><%= sort_link(@q, :users_email, 'Email') %></th>
                  <th class="th-sm"><%= sort_link(@q, :users_phone_number, 'Phone Number') %></th>
                  <th class="th-sm"><%= sort_link(@q, :nominal) %></th>
                </tr>
              </thead>
              <tbody>
              <% @wallets.each do |wallet| %>
                <tr>
                  <td><%= link_to wallet.user.name, edit_admins_wallet_path(wallet)%></td>
                  <td><%= wallet.user.email %></td>
                  <td><%= wallet.user.phone_number %></td>
                  <td><%= number_to_currency(wallet.nominal, :locale => :id) %></td>
                </tr>
              <% end %>
              </tbody>
              
            </table>
            <%== render partial: 'admins/shared/bootstrap_nav', locals: {pagy: @pagy} %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
