<div class="alert alert-info"><%= notice %></div>
<h1>Wallet</h1>
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Owner</th>
      <th class="th-sm">Email</th>
      <th class="th-sm">Phone Number</th>
      <th class="th-sm">Nominal</th>
    </tr>
  </thead>
  <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= link_to wallet.user.name, edit_admins_wallet_path(wallet)%></td>
        <td><%= wallet.user.email %></td>
        <td><%= wallet.user.phone_number %></td>
        <td><%= number_to_currency(wallet.nominal, :locale => :id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>
