<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__widget">
    <div>
      <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt text-danger"></i> Logout
          <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fa fa-user"></i> Login
        <% end %>
        <br>
          <%=link_to new_user_registration_path do %>
            <i class="fa fa-user-plus"></i> Register
          <% end %>
      <% end %>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <% if current_user.present? %>
        <li><%= link_to "Shopping Cart", cart_products_path %></li>
        <li><%= link_to "Order History", orders_path %></li>
      <% end %>
       <li><%= link_to "About", about_path %></li>
      <br>
      <br>
      <% if current_user.present? %>

      <li>
        <%= link_to notifications_path do %>
          <i class="fas fa-bell fa-fw"></i> Notification
          <!-- Counter - Alerts -->
          <span class="badge mobile badge-danger badge-counter"><%= current_user.notifications.where(read: false).count%></span>
        <% end %>
      </li>
      <li>
        <%= link_to new_wallet_status_path do %>
          <i class="fas fa-plus text-danger"></i> Top Up
        <% end %>
      </li>

      <li>
        <%= link_to wallet_statuses_path do %>
          <i class="fas fa-history text-danger"></i> Top Up History
        <% end %>
      </li>

      <li>
        <%= link_to profile_users_path do %>
          <i class="fas fa-user-edit text-danger"></i> Edit User
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
</div>
<!-- Humberger End -->
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul class="nav">
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <%if current_user.present?%>
                <li class="<%= 'active' if current_page?(cart_products_path) %>"><%= link_to "Shopping Cart", cart_products_path %></li>
                <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to "Order History", orders_path %></li>
              <%end%>
              <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <ul class="nav-bar">
              <%if current_user.present?%>
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-bell fa-fw"></i>
                      <!-- Counter - Alerts -->
                      <span class="badge badge-danger badge-counter"><%= current_user.notifications.where(read: false).count%></span>
                  </a>
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                      aria-labelledby="alertsDropdown">
                      <h6 class="dropdown-header">
                          Notifications Center
                      </h6>
                      <% current_user.notifications.order(created_at: :desc).take(3).each do |notification| %>
                      <a class="dropdown-item d-flex align-items-center" href="<%=order_path(notification.order)%>">
                          <div class="notification-index">
                            <div class="mr-3">
                              <%if notification.read == false%>
                                <div class="icon-circle bg-primary"></div>
                              <%end%>
                            </div>
                            <div>
                                <div class="small text-gray-500"><%= notification.created_at.strftime("%b %d, %Y %H:%M")%></div>
                                <span><%= notification.message%></span>
                            </div>
                          </div>
                      </a>
                      <%end%>
                      </a>
                      <a class="dropdown-item text-center small text-gray-500" href="<%=notifications_path%>">Show All Notification</a>
                  </div>
              </li>
                <li><%=number_to_currency(current_user.wallet.nominal, :locale => :id)%></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%=current_user.name.capitalize%>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="<%=new_wallet_status_path%>">
                      <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                        Top Up
                    </a>
                    <a class="dropdown-item" href="<%=wallet_statuses_path%>">
                      <i class="fas fa-history fa-sm fa-fw mr-2 text-gray-400"></i>
                      Top Up History
                    </a>
                    <a class="dropdown-item" href="<%=profile_users_path%>">
                      <i class="fas fa-user-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                      Edit Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                  </div>
                </li>
              <%else%>
              <li>
                <%= link_to new_user_registration_path do %>
                  <i class="fa fa-user-plus"></i> Register
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-user"></i> Login
                <% end %>
              </li>
                 
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
