<div class="container">
  <%= link_to 'back', orders_path, class: 'btn site-btn' %>
  <br>
  <br>
  <h3>Transaction Detail</h3>
  <br>
    <%= simple_form_for [@order] do |f| %>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <%= f.input :created_at, label: 'Order Date', :input_html => { :value => DateTime.now.strftime("%A, %d-%m-%Y")}, :as => :string, disabled:true %>
      </div>
      <div class="col-lg-6 col-md-12">
        <%= f.input :receipt_number, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <%= f.input :status, :input_html => { :value => @order.status.humanize}, :as => :string, disabled:true %>
      </div>
      <div class="col-lg-6 col-md-12">
        <%= f.input :total_price, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <%= f.input :receiver, :input_html => { :value => @order.receiver.humanize}, :as => :string, disabled:true %>
      </div>
      <div class="col-lg-6 col-md-12">
       <%= f.input :coupon, :input_html => { :value => if @order.coupon.present?
          'Yes'
        else
          'No'
        end }, :as => :string, disabled:true %>
      </div>
      <div class="col-lg-12 col-md-12">
        <%= f.input :note, label: 'Order Notes',as: :text, disabled: true %>
      </div>
    </div>
    <%end%>
    <%if @order.status.eql? 'delivered_confirmed'%>
      <div class="button-order">
        <%= link_to "Confirmation Order", transition_order_path(@order.id), method: :patch, class: 'site-btn'%>
      </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <div class="shoping__cart__table">
          <table>
            <tbody>
              <% @order.cart.products.group_by(&:itself).uniq.each do |tp,v| %>
                <tr>
                  <td class="shoping__cart__item">
                    <img src=<%= tp.image.thumb %> alt="">
                    <h5> <%=tp.name.humanize%>
                    <br>
                    x<%=v.count%></h5>
                  </td>
                  <td>
                    <%= number_to_currency(tp.price, :locale => :id) %>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%if @order.active? %>
      <%= link_to 'Cancel Transaction', cancel_order_path(@order), class: 'btn btn-sm btn-danger' %>
    <%end%>


</div>