<div class="container">
	<h3>Transaction Detail</h3>
	<div class="row">
        <div class="col-lg-6 col-md-6">
			<p>
			  <strong>Order Date:</strong>
			  <%= @order.created_at.strftime("%A, %d-%m-%Y") %>
			</p>
			<p>
			  <strong>Total Price:</strong>
			  <%= number_to_currency(@order.total_price, :locale => :id) %>
			</p>
			<p>
			  <strong>Status:</strong>
			  <%= @order.status.titleize %>
			</p>
			<p>
			  <strong>Product:</strong>
			  	<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
				  	<thead>
				    	<tr>
				      		<th class="th-sm">Name</th>
						    <th class="th-sm">Price</th>
						    <th class="th-sm">Total Item</th>
						    <th class="th-sm">Image</th>
				    	</tr>
				  	</thead>
				  	<tbody>
					  	<% @order.cart.products.group_by(&:itself).uniq.each do |tp,v| %>
					  	<tr>
					  		<td><%= tp.name %></td>
					  		<td><%= number_to_currency(tp.price, :locale => :id) %></td>
					  		<td><%= v.count %></td>
					  		<td><%= image_tag tp.image_url %></td>
					  	</tr>
					  	<% end %>
					</tbody>
				</table>
			</p>
			<%= link_to 'Back', transactions_path, class: 'btn btn-sm btn-success' %>
			<%if @order.active? %>
				<%= link_to 'Cancel Transaction', cancel_order_path(@order), class: 'btn btn-sm btn-danger' %>
			<%end%>
	</div>
</div>