
  <!-- Material form login -->
  <div class="card">

    <h5 class="card-header info-color white-text text-center py-3">
      <strong>Login</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
      <!-- Form -->
      <div class="text-center">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="inline-label">
              <%= f.input :email,autofocus: true, autocomplete: "email",placeholder: "Email", label: false%>
              <%= f.input :password, autocomplete: "current-password", placeholder: "Password", input_html: {maxlength: 50, size: 20}, label: false%>
            </div>
            <% if devise_mapping.rememberable? %>
              <%= f.input :remember_me, as: :boolean,input_html:{value: f.object[:rememberable]}%>
            <% end %>

           <div class="actions">
            <%= f.submit "Login", class: 'btn btn-sm btn-info' %>
          </div>

          <% end %>
          <div><%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>